page-match-detail {
	.home {
    background: #FFA726;
    text-align: center;
  }
  .score{
  	background: #E0E0E0;
  	text-align: center;
  }
  .img-league{
    width: 100px;
    height: 100px;
    background: #FFA726;
  }
  .img-team{
    width: 150px;
    height: 150px;
    background: #E0E0E0;
  }
  .home-head {
    background: #31AF91;
    color: #ffffff;
    
  }
 
  

}
