page-home {
 .home {
    background: #FFA726;
    text-align: center;
  }
  .home-head {
    background: #31AF91;
    color: #ffffff;
    
  }
  .navbar{
    background: #31AF91 !important;
  }
  .ion-card{
  	background: #31AF91;
  	color:#ffffff;
  }
  .filter {
    background: #E0E0E0;
    color: #000000;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 2px double #31AF91;
    
  }
  
  


}
